<!-- <div *ngFor="let reservation of reservationList">{{reservation.guest_name}}</div> -->
<div class="body-container">
<h1>List of Reservations</h1>
<div id="reviewForm" class="review-form-container" style="margin-left: 500px;" *ngIf="isTrue">
    <h2>Post a Review</h2>
    <form (ngSubmit)="saveReview()">

        <label for="rating">Rating</label>
        <select id="rating" required [(ngModel)]="review.rating" name="rating">
            <option value="" disabled selected>Select Rating</option>
            <option [value]="1" >⭐</option>
            <option [value]="2">⭐⭐</option>
            <option [value]="3">⭐⭐⭐</option>
            <option [value]="4">⭐⭐⭐⭐</option>
            <option [value]="5">⭐⭐⭐⭐⭐</option>
        </select>

        <label for="comment">Comment</label>
        <textarea id="comment" placeholder="Enter your review" required [(ngModel)]="review.comment" name="comment"></textarea>

        <button type="submit" class="submit">Submit Review</button>
    </form>
    </div>
    <div *ngIf="isEdit" class="review-form-container">
    <form (ngSubmit)="onSubmit()">
        <!-- Guest Name -->
        <div>
          <label for="guest_name">Guest Name</label>
          <input id="guest_name" [(ngModel)]="reservation.guest_name" name="guest_name" type="text" required />
          <div *ngIf="!reservation.guest_name">
            <small>Guest name is required.</small>
          </div>
        </div>
      
        <!-- Guest Email -->
        <div>
          <label for="guest_email">Guest Email</label>
          <input id="guest_email" [(ngModel)]="reservation.guest_email" name="guest_email" type="email" required />
          <div *ngIf="!reservation.guest_email">
            <small>Guest email is required.</small>
          </div>
        </div>
      
        <!-- Guest Phone -->
        <div>
          <label for="guest_phone">Guest Phone</label>
          <input id="guest_phone" [(ngModel)]="reservation.guest_phone" name="guest_phone" type="text" required />
          <div *ngIf="!reservation.guest_phone">
            <small>Guest phone is required.</small>
          </div>
        </div>
      
        <!-- Check-In Date -->
        <div>
          <label for="checkInDate">Check-In Date</label>
          <input id="checkInDate" [(ngModel)]="reservation.checkInDate" name="checkInDate" type="date" required />
          <div *ngIf="!reservation.checkInDate">
            <small>Check-In date is required.</small>
          </div>
        </div>
      
        <!-- Check-Out Date -->
        <div>
          <label for="checkOutDate">Check-Out Date</label>
          <input id="checkOutDate" [(ngModel)]="reservation.checkOutDate" name="checkOutDate" type="date" required />
          <div *ngIf="!reservation.checkOutDate">
            <small>Check-Out date is required.</small>
          </div>
        </div>
      
      
        <!-- Submit Button -->
        <button type="submit" [disabled]="!reservation.guest_name || !reservation.guest_email || !reservation.guest_phone || !reservation.checkInDate">
          Submit
        </button>
      </form>
    </div>
<table *ngFor="let reservation of reservationList">
    <thead >
        <tr>
            <th>Name</th>
            <th>Hotel</th>
            <th>Room Number</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Post Review</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{reservation.guest_name}}</td>
            <td>{{reservation.room.hotel.name}}</td>
            <td>{{reservation.room.roomNumber}}</td>
            <td>{{reservation.checkInDate}}</td>
            <td>{{reservation.checkOutDate}}</td>
            <td><button (click)="postReview(reservation)">Post Review</button></td>
            <td><button (click)="editReservation(reservation)">Update</button></td>
        </tr>
        <!-- <tr>
            <td>2025-01-07</td>
            <td>2025-01-12</td>
            <td><button onclick="postReview(2)">Post Review</button></td>
        </tr> -->
    </tbody>
</table>
</div>
