.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
 
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
 
  h2 {
    margin-top: 30px;
    font-size: 1.5rem;
  }
 
/* admin-dashboard.component.css */
.btn-container {
    display: flex;
    gap: 70px; /* Adds space between the buttons */
    justify-content: center; /* Centers the buttons horizontally */
  }
 
  .btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
 
  .btn:hover {
    background-color: #45a049;
  }
 
 
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
 
  .list-item {
    margin: 10px 0;
  }
 
  .list-item h3 {
    font-size: 1.2rem;
    margin: 0;
  }
 
  footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #555;
  }
 