<div class="container">
  <h1>Admin Dashboard</h1>
 
  <!-- Navigation Buttons with spacing -->
  <div class="btn-container">
    <button class="btn" (click)="showUserList()">Show User List</button>
    <button class="btn" (click)="showManagerList()">Show Manager List</button>
    <button class="btn" [routerLink]="'/managerDashboard'">Show Manager Dashboard</button>
  </div>
 
  <!-- User List -->
  <div class="list-container" *ngIf="showUser" id="userList">
    <h2>User List</h2>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Role</th> -->
          <th>Username</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <!-- <td>{{ role.name }}</td> -->
          <td>{{ role.user.username }}</td>
          <td>
            <button class="btn" (click)="makeManager(role.user.user_id)">Make as Manager</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 
  <!-- Manager List -->
  <div class="list-container" *ngIf="showManager" id="managerList">
    <h2>Manager List</h2>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Role</th> -->
          <th>Username</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <!-- <td>{{ role.name }}</td> -->
          <td>{{ role.user.username }}</td>
          <!-- Uncomment the button below if you want to allow removing managers -->
          <!-- <td><button class="btn" (click)="removeManager(role.user.user_id)">Remove Manager</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
 
  <footer>
    &copy; 2025 User Management System
  </footer>
</div>